<div class="container-fluid py-1">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="quiz-header">
        <h4>AKO teoria</h4>
        <span>{{name}}</span>
      </div>
    </div>
    <div class="d-flex justify-content-between p-3">
      <div class="score">
        <h5>Points: </h5>
      </div>
      <div class="question-remain">
        <span>Question 1</span>
      </div>
      <div class="timer">
        <h5>1 hour</h5>
      </div>
    </div>
    <div class="question">
      <div class="card">
        <h3>Question example </h3>
      </div>
    </div>
    <div class="answer">
      <div class="card">
        <h3>Answer example </h3>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn">Next</button>
      <button class="btn">Check</button>
      <button class="btn">Back</button>
    </div>
  </div>


</div>
